
body{
	align-items: center;
  display: flex;
  justify-content: center;

}
#txt{
	padding-top: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	
}
html{
	background : url("img/bg.jpg") center fixed;
	background-size: cover ;
 	background-repeat: no-repeat; 
	
}
h1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}